{% load i18n %}

{% blocktrans %}Вы получили это письмо, потому что вы (или кто-то другой) запросили сброс пароля для вашей учетной записи.{% endblocktrans %}

{% trans "Пожалуйста, перейдите по следующей ссылке в течение следующих 48 часов, чтобы завершить процесс сброса пароля:" %}
{{ protocol }}://{{ domain }}{% url 'users:password_reset_confirm' uidb64=uid token=token %}

{% trans "Ваш имя пользователя, если вы его забыли:" %} {{ user.email }}

{% trans "Спасибо за использование нашего сайта!" %}

{% blocktrans %}С уважением,
{{ site_name }} команда SendingMessages{% endblocktrans %}