{% extends 'base.html' %}
{% block title %}Главная{% endblock %}

{% block content %}
<div class="container">
    <h1 class="display-6">Привет, дорогой друг!</h1>
<h1 class="display-6 mt-4">Вы находитесь на сайте массовых рассылок сообщений по электронной почте. Здесь Вы можете создать сообщение, добавить получателей и разослать им это сообщение.</h1>
    <h1 class="display-6 mt-4">Для того чтобы воспользоваться нашими услугами, зарегистрируйтесь на сайте и авторизуйтесь. Так же после успешной авторизации Вам будет доступна статистика по вашим отправкам: количество отправленных сообщений и успешная или не успешная отправка.</h1>
    <h1 class="display-6 mt-4">Желаем Вам хорошего дня и приятного пользования нашим сервисом. Зарегистрироваться можно <a href="{% url 'users:register' %}">здесь</a>.</h1>
    <h1 class="display-6"></h1>
</div>
    {% endblock %}