{% extends 'base.html' %}
{% block title %}Информация о рассылке{% endblock %}

{% block content %}
<form method="post" enctype="multipart/form-data">
    <h1 class="text-center mb-4">Вы действительно хотите удалить эту рассылку?</h1>
    {% csrf_token %}
<div class="container" style="margin-left: 10%;">
<h1 class="display-6">Дата и время первой отправки: {{ mailing.date_time_first_shipment }}</h1>
<h1 class="display-6">Дата и время окончания отправки: {{ mailing.date_time_end_shipment }}</h1>
<h1 class="display-6">Статус: {{ mailing.status }}</h1>
<h1 class="display-6">Тема сообщения: {{ mailing.message.topic }}</h1>
<h1 class="display-6">Сообщение: {{ mailing.message.body }}</h1>
    <h1 class="display-6">Получатели:
    {% for recipient in recipients %}
        {{ recipient.email }}
        {% endfor %}
    </h1>
<h1 class="display-6">Отправитель: {{ mailing.sender }}</h1>
    <a href="{{ request.META.HTTP_REFERER }}"><button type="button" class="btn btn-primary fs-4 mt-5">Отменить</button></a>
                    <button type="submit" class="btn btn-danger ms-auto fs-4 mt-5">Удалить</button>
    </div>
</form>
{% endblock %}