{% extends 'base.html' %}
{% block title %}Информация о рассылке{% endblock %}

{% block content %}
<form method="post" enctype="multipart/form-data">
    <h1 class="text-center mb-4">Вы действительно хотите удалить эту рассылку?</h1>
    {% csrf_token %}
<div class="container" style="margin-left: 10%;">
<h1 class="mb-4 text-center" style="margin-bottom:3%">Информация о получателе:</h1>
<div class="container" style="margin-left: 10%;">
    {% if recipient.fio %}
<h1 class="display-6">Ф.И.О.: {{ recipient.fio }}</h1>
    {% endif %}
<h1 class="display-6">Email получателя: {{ recipient.email }}</h1>
    {% if recipient.comment %}
<h1 class="display-6">Комментарий: {{ recipient.comment }}</h1>
    {% endif %}
    </div>
    <div class="col-md-12 element-center">
    <a href="{{ request.META.HTTP_REFERER }}"><button type="button" class="btn btn-primary fs-2 mt-5">Отменить</button></a>
                    <button type="submit" class="btn btn-danger ms-auto fs-2 mt-5">Удалить</button>
    </div>
    </div>
</form>
{% endblock %}