@charset "UTF-8";

.element-center {
    display: flex;
    flex-direction: row;
    justify-content: center;
}

.paginat{
        background: #4285F4;
        color: white;
        }

.podsvetka-paginat:hover {
        background: #4285F4; /* тут цвет*/
        color: white;
        transition: 0.5s;
        }